server:
  port: ${PORT:8080}

spring:
  application:
    message:
      generation:
        message-generation-enabled: true
        messages-to-generate-count: 20
  jpa:
    open-in-view: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password: password
  h2:
    console:
      enabled: true
